.tree-warp {
  width: 250px;
  margin-right: 10px;
  min-width: 200px;
  box-sizing: border-box;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
  border-radius: 5px;
  padding: 20px 15px;
  border: 1px solid #ebeef5;

  .custom-tree-node {
    .tree-icon {
      display: none;
    }

    &:hover .tree-icon {
      display: initial;
    }
  }

  /deep/ .el-tree-node__expand-icon {
    width: 20px;
  }
}

.table-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: hidden;
  /deep/ .el-button--mini {
    width: 30px;
    padding: 6px 7px;

    i {
      font-size: 14px
    }
  }
}
.content {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
  border-radius: 5px;
  padding: 20px 30px;

  /deep/ .el-form-item {
    margin-bottom: 10px;
  }
}

.filter-form {
  width: 90%;
}
.search-btn{
  button{
    margin-top: 58%;
  }
}
.column-width {
  width: 180px;
}

.icon-position {
  width: calc(100% - 30px);
}

.el-table .warning-row {
  background: oldlace;
}

.el-table .success-row {
  background: #f0f9eb;
}

.form-inline {
  display: flex;
  padding-right: 40px;
  padding-bottom: 15px;
  /deep/ .el-form-item {
    flex: 1;
    .el-form-item__content{
      flex: 1;
    }
    .el-select {
      width: 100%;
    }
  }
}
.dialog-style{
  max-height: 90%;
  overflow:hidden;
}
.btn-group {
  display: flex;
  justify-content: center;
}

.form-item-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;

  &:first-child {
    border-top: none;
    margin-bottom: 10px;
    padding-top: 0;
  }
}

/deep/ .el-form-item {
  margin-left: 30px;
}

/deep/ .el-dialog {
  max-height: 85%;
  display: flex;
  flex-direction: column;

  .el-dialog__body {
    flex: 1;
    overflow: auto;
  }
}
.el-date-editor.el-input, .el-date-editor.el-input__inner{
  width: auto;
}